services:
  webserver:
    image: vaultwarden/server:testing-alpine
    container_name: vaultwarden
    restart: unless-stopped
    environment:
      DOMAIN: ${DOMAIN}
      SSO_ENABLED: "true"
      SSO_ONLY: "false"
      SSO_SCOPE: "openid email profile offline_access"
      SSO_CLIENT_ID: ${SSO_CLIENT_ID}
      SSO_CLIENT_SECRET_FILE: /run/secrets/oidc_secret
      SSO_AUTHORITY: ${SSO_AUTHORITY}
      SSO_CLIENT_CACHE_EXPIRATION: 0
      SSO_SIGNUPS_MATCH_EMAIL: "true"
      SSO_AUTH_ONLY_NOT_SESSION: "true"
    volumes:
      - /srv/data/vaultwarden:/data
    networks:
      - proxy_network
      - service_network
    secrets:
      - oidc_secret
    labels:
      - com.denyssizomin.apps.backup=vaultwarden
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.vaultwarden.rule=Host(`${VAULTWARDEN_HOST}`)"
        - "traefik.http.services.vaultwarden.loadbalancer.server.port=80"
networks:
  proxy_network:
    name: ${PROXY_NETWORK}
    external: true
  service_network:
    name: ${SERVICE_NETWORK}
    external: true
secrets:
  oidc_secret:
    name: ${SSO_CLIENT_SECRET_NAME}
    external: true
