services:
  webserver:
    image: thomiceli/opengist:1
    volumes:
      - "/srv/data/opengist:/opengist"
    networks:
      - proxy_network
    environment:
      - OG_OIDC_PROVIDER_NAME=${OG_OIDC_PROVIDER_NAME}
      - OG_OIDC_CLIENT_KEY=${OG_OIDC_CLIENT_KEY}
      - OG_OIDC_DISCOVERY_URL=${OG_OIDC_DISCOVERY_URL}
      - OG_OIDC_GROUP_CLAIM_NAME=${OG_OIDC_GROUP_CLAIM_NAME}
      - OG_OIDC_ADMIN_GROUP=${OG_OIDC_ADMIN_GROUP}
    secrets:
      - opengist_secrets
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.opengist.rule=Host(`${OPENGIST_HOST}`)"
        - "traefik.http.services.opengist.loadbalancer.server.port=6157"
networks:
  proxy_network:
    name: ${PROXY_NETWORK}
    external: true
secrets:
  opengist_secrets:
    name: ${SECRET_NAME}
    external: true
