services:
  webserver:
    image: svenstaro/miniserve:latest
    volumes:
      - /srv/data/miniserve:/data
    command: >
      /data --mkdir --rm-files --upload-files --interfaces 0.0.0.0 --port 8080
    networks:
      - proxy_network
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.miniserve.rule=Host(`${MINISERVE_HOST}`)"
        - "traefik.http.services.miniserve.loadbalancer.server.port=8080"
networks:
  proxy_network:
    name: ${PROXY_NETWORK}
    external: true
