services:
  webserver:
    image: ${AUTHENTIK_IMAGE:-ghcr.io/goauthentik/server}:${AUTHENTIK_TAG:-2025.8.4}
    command: server
    environment:
      AUTHENTIK_POSTGRESQL__HOST: tasks.db
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: file:///run/secrets/authentik_db_password
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_REDIS__HOST: tasks.redis
      AUTHENTIK_SECRET_KEY: file:///run/secrets/authentik_secret_key
    depends_on:
      - redis
      - db
    networks:
      - authentik
      - proxy_network
    volumes:
      - /srv/data/authentik/media:/media
      - /srv/data/authentik/templates:/templates
    secrets:
      - authentik_db_password
      - authentik_secret_key
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.authentik.rule=Host(`${AUTHENTIK_HOST}`)"
        - "traefik.http.services.authentik.loadbalancer.server.port=9000"

  worker:
    image: ${AUTHENTIK_IMAGE:-ghcr.io/goauthentik/server}:${AUTHENTIK_TAG:-2025.8.4}
    command: worker
    environment:
      AUTHENTIK_POSTGRESQL__HOST: tasks.db
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: file:///run/secrets/authentik_db_password
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_REDIS__HOST: tasks.redis
      AUTHENTIK_SECRET_KEY: file:///run/secrets/authentik_secret_key
    depends_on:
      - redis
      - db
    networks:
      - authentik
      - proxy_network
    user: root
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /srv/data/authentik/media:/media
      - /srv/data/authentik/templates:/templates
      - /srv/data/authentik/certs:/certs
    secrets:
      - authentik_db_password
      - authentik_secret_key

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: authentik
      POSTGRES_USER: authentik
      POSTGRES_PASSWORD_FILE: /run/secrets/authentik_db_password
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 20s
      test:
        - CMD-SHELL
        - pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}
      timeout: 5s
    volumes:
      - db:/var/lib/postgresql/data
    networks:
      - authentik
    secrets:
      - authentik_db_password

  redis:
    image: redis:8-alpine
    volumes:
      - redis:/data
    networks:
      - authentik

secrets:
  authentik_db_password:
    name: ${DB_PASSWORD_SECRET_NAME}
    external: true
  authentik_secret_key:
    name: ${SECRET_KEY_SECRET_NAME}
    external: true

networks:
  proxy_network:
    name: ${PROXY_NETWORK}
    external: true
  authentik:
    name: authentik
    internal: true

volumes:
  redis:
  db:
