services:
  paperless:
    image: docker:dind
    entrypoint: sh -c
    command:
      - >
        wget --timeout=10 --no-verbose https://${HEALTHCHECKS_HOST}/ping/$$(cat /run/secrets/ping_key)/autorestik_paperless/start;
        docker exec -t
        $$(docker container ls -q -n 1 --filter label=com.denyssizomin.apps.backup=paperless)
        document_exporter ../export -d --no-progress-bar &&
        wget --timeout=10 --no-verbose https://${HEALTHCHECKS_HOST}/ping/$$(cat /run/secrets/ping_key)/autorestik_paperless ||
        wget --timeout=10 --no-verbose https://${HEALTHCHECKS_HOST}/ping/$$(cat /run/secrets/ping_key)/autorestik_paperless/fail
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - service_network
    secrets:
      - source: ping_key
        target: /run/secrets/ping_key
    deploy:
      mode: replicated
      replicas: 0
      labels:
        - "swarm.cronjob.enable=true"
        - "swarm.cronjob.schedule=0 */1 * * *"
        - "swarm.cronjob.skip-running=true"
      restart_policy:
        condition: none

  vaultwarden:
    image: docker:dind
    entrypoint: sh -c
    command:
      - >
        wget --timeout=10 --no-verbose https://${HEALTHCHECKS_HOST}/ping/$$(cat /run/secrets/ping_key)/autorestik_vaultwarden/start;
        docker exec -t
        $$(docker container ls -q -n 1 --filter label=com.denyssizomin.apps.backup=vaultwarden)
        /vaultwarden backup &&
        wget --timeout=10 --no-verbose https://${HEALTHCHECKS_HOST}/ping/$$(cat /run/secrets/ping_key)/autorestik_vaultwarden ||
        wget --timeout=10 --no-verbose https://${HEALTHCHECKS_HOST}/ping/$$(cat /run/secrets/ping_key)/autorestik_vaultwarden/fail
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - service_network
    secrets:
      - source: ping_key
        target: /run/secrets/ping_key
    deploy:
      mode: replicated
      replicas: 0
      labels:
        - "swarm.cronjob.enable=true"
        - "swarm.cronjob.schedule=0 */1 * * *"
        - "swarm.cronjob.skip-running=true"
      restart_policy:
        condition: none

  upload:
    image: cupcakearmy/autorestic
    entrypoint: sh -c
    command:
      - >
        curl -fsS -m 10 --retry 5 -o /dev/null https://${HEALTHCHECKS_HOST}/ping/$$(cat /run/secrets/ping_key)/autorestik_upload/start; 
        autorestic -c /etc/autorestic/.autorestic.yaml backup -a &&
        curl -fsS -m 10 --retry 5 -o /dev/null https://${HEALTHCHECKS_HOST}/ping/$$(cat /run/secrets/ping_key)/autorestik_upload ||
        curl -fsS -m 10 --retry 5 -o /dev/null https://${HEALTHCHECKS_HOST}/ping/$$(cat /run/secrets/ping_key)/autorestik_upload/fail
    configs:
      - source: config
        target: /etc/autorestic/.autorestic.yaml
    secrets:
      - source: ping_key
        target: /run/secrets/ping_key
      - source: env
        target: /etc/autorestic/.autorestic.env
    networks:
      - service_network
    volumes:
      - /srv/data/paperless/export:/srv/data/paperless:ro
      - /srv/data/vaultwarden:/srv/data/vaultwarden:ro
      - /srv/data/opengist:/srv/data/opengist:ro
      - /srv/data/miniserve:/srv/data/miniserve:ro
    deploy:
      mode: replicated
      replicas: 0
      labels:
        - "swarm.cronjob.enable=true"
        - "swarm.cronjob.schedule=30 */1 * * *"
        - "swarm.cronjob.skip-running=true"
      restart_policy:
        condition: none

configs:
  config:
    external: true
    name: "${AUTORESTIC_CONFIG_FILE}"

secrets:
  env:
    external: true
    name: "${AUTORESTIC_ENV_SECRET}"
  ping_key:
    external: true
    name: "${PING_KEY_SECRET}"

networks:
  service_network:
    external: true
    name: "${SERVICE_NETWORK}"
