services:
  webserver:
    image: rcourtman/pulse:latest
    environment:
      - PULSE_PUBLIC_URL=${PULSE_PUBLIC_URL}
      - PULSE_AUDIT_LOG=true
      - TZ=Europe/Amsterdam
      - OIDC_ENABLED=true
      - OIDC_CLIENT_ID=${OIDC_CLIENT_ID}
      - OIDC_ISSUER_URL=${OIDC_ISSUER_URL}
      - OIDC_LOGOUT_URL=${OIDC_LOGOUT_URL}
      - OIDC_GROUPS_CLAIM=groups
    volumes:
      - /srv/data/pulse:/data
    networks:
      - proxy_network
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.pulse.rule=Host(`${PULSE_HOST}`)"
        - "traefik.http.services.pulse.loadbalancer.server.port=7655"

  apprise:
    image: lscr.io/linuxserver/apprise-api:latest
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
    volumes:
      - config:/config
      - plugins:/plugins
      - attachments:/attachments
    networks:
      - proxy_network

networks:
  proxy_network:
    name: ${PROXY_NETWORK}
    external: true

volumes:
  config:
  plugins:
  attachments:
