services:
  webserver:
    image: rcourtman/pulse:latest
    environment:
      - PULSE_PUBLIC_URL=${PULSE_PUBLIC_URL}
      - OIDC_ENABLED=true
      - OIDC_CLIENT_ID=${OIDC_CLIENT_ID}
      - OIDC_ISSUER_URL=${OIDC_ISSUER_URL}
      - OIDC_GROUPS_CLAIM=groups
    volumes:
      - /srv/data/pulse:/data
    networks:
      - proxy_network
      - apprise_network

  apprise:
    image: lscr.io/linuxserver/apprise-api:latest
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
    volumes:
      - config:/config
      - plugins:/plugins
      - attachments:/attachments
    networks:
      - apprise_network
      - apprise_proxy

networks:
  apprise_network:
    name: apprise_network
    internal: true
  apprise_proxy:
  proxy_network:
    name: ${PROXY_NETWORK}
    external: true

volumes:
  config:
  plugins:
  attachments:
